<!-- Main test suite -->
<suite name="Automation Suite" parallel="tests" thread-count="2">

    <!-- Register TestNG listener -->
    <listeners>
        <listener class-name="utilities.Listeners"/>
    </listeners>

    <test name="Chrome - Login Tests">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Firefox - Login Tests">
        <parameter name="browser" value="firefox"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>